.burger {
    --burger-width: 35px;
    --burger-height: 25px;
    --burger-line-height: 5px;

    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #fff;
    background-color: transparent;
    cursor: pointer;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: var(--burger-line-height);
        background-color: currentColor;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::before {
        top: 0;
    }

    &::after {
        top: calc(100% - var(--burger-line-height));
    }

    &__line {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: var(--burger-line-height);
        background-color: currentColor;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
    }

    &--active {
        &::before,
        &::after{
            top: 50%;
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
            border-radius: 2px;
        }
        &::before {
            transform: rotate(50deg);
        }

        &::after {
            transform: rotate(-50deg);
        }

        .burger__line {
            transform: scale(0);
            transition: transform 0.3s ease-in-out;
        }
    }

    @media (max-width:$smallTablet-max) {
        --burger-width: 28px;
        --burger-height: 20px;
        --burger-line-height: 4px;
    }
}

.burger[data-burger] {
    @media (min-width:$tablet-min) {
        display: none;
    }
}
