<section class="ask-question top-gap-secondary ask-question--@id" style="background-image: url(./img/ask-question-bg.webp);">
    <div class="container ask-question__container">
        <h2 class="ask-question__title title-2">
            Есть вопросы?
        </h2>
        <p class="ask-question__descr">
            Наши специалисты свяжутся с вами и найдут оптимальные для вас условия сотрудничества
        </p>
        <form action="#" class="ask-question__form">
            <label class="ask-question__label label-validate label-validate--absolute label-validate--orange">
                <input type="text" name="Имя"
                    class="input-reset input-primary ask-question__input ask-question__input--name" placeholder="Имя">
            </label>
            <label class="ask-question__label label-validate label-validate--absolute label-validate--orange">
                <input type="tel" name="Телефон"
                    class="input-reset input-primary ask-question__input ask-question__input--phone"
                    placeholder="Телефон">
            </label>
            <button class="btn btn-reset ask-question__btn btn-primary">Заказать конcультацию</button>
        </form>
        <p class="ask-question__policy">
            Нажимая кнопку "Заказать консультацию" вы соглашаетесь
            с политикой обработки персональнх данных
        </p>
    </div>
</section>
