<section class="benefits top-gap-primary">
    <div class="benefits__container container">
        <h2 class="benefits__title title-2 text-center">
            Почему наша компания стоит вашего внимания?
        </h2>
        <ul class="benefits__list list-reset top-gap-secondary">
            <li class="benefits__item benefit-item-primary">
                <img class="benefit-item-primary__icon" src="./img/benefit-1.svg" alt="Быстрая доставка">
                <h3 class="benefit-item-primary__title">
                    Быстрая доставка
                </h3>
                <p class="benefit-item-primary__descr">
                    Отправляем коды в течение 5 минут после оплаты
                </p>
            </li>
            <li class="benefits__item benefit-item-primary">
                <img class="benefit-item-primary__icon" src="./img/benefit-2.svg" alt="Качество">
                <h3 class="benefit-item-primary__title">
                    Качество
                </h3>
                <p class="benefit-item-primary__descr">
                    Гарантия от производителя
                </p>
            </li>
            <li class="benefits__item benefit-item-primary">
                <img class="benefit-item-primary__icon" src="./img/benefit-3.svg" alt="Комплексный подход">
                <h3 class="benefit-item-primary__title">
                    Комплексный подход
                </h3>
                <p class="benefit-item-primary__descr">
                    К обслуживанию кассы на предприятии
                </p>
            </li>
            <li class="benefits__item benefit-item-primary">
                <img class="benefit-item-primary__icon" src="./img/benefit-4.svg" alt="гарантия низких цен">
                <h3 class="benefit-item-primary__title">
                    гарантия низких цен
                </h3>
                <p class="benefit-item-primary__descr">
                    На товары и услуги в нашем магазине
                </p>
            </li>
        </ul>
    </div>
</section>