<section class="descr-business top-gap-primary">
    <div class="descr-business__container container">
        <h2 class="descr-business__title title-2 text-center">
            Sevkassa - интернет-магазин программного
            обеспечения для бизнеса
        </h2>
        <div class="descr-business__content top-gap-secondary">
            <div class="descr-business__img">
                <img src="./img/descr-business.jpg" alt="Картинка">
            </div>
            <div class="descr-business__text text">
                <p>
                    Первая покупка фискального регистратора будет значительно ощутима, но, вместе с тем и
                    необходимая. Ведь согласно законодательным нормам закона 54-ФЗ на тех, кто осуществляет
                    деятельность без контрольно-кассовой техники будут возложены санкции и штрафы.
                </p>
                <p>
                    Покупая ккт в нашей компании, вы значительно сэкономите денежные средства на приобретении
                    качественного и нового кассового аппарата. Мы предлагаем квалифицированную помощь в подборе
                    необходимого именно вам оборудования. Рекомендуем доверять лишь надежным партнерам в решении
                    вопроса купить кассу для ип.
                </p>
            </div>
        </div>
    </div>
</section>
