<section class="descr top-gap-primary">
    <div class="descr__container container">
        <h2 class="descr__title title-2 text-center">
            Добро пожаловать в наш интернет-магазин
        </h2>
        <div class="descr__inner top-gap-secondary">
            <div class="descr__text text">
                Заручившись поддержкой надежных партнеров «Sev-Kassa» осуществляйте легкий переход на кассовый аппараты
                в своей сфере предоставления услуг, товаров или выполнения работ. Наличие онлайн кассы позволяют
                прозрачно осуществлять предпринимательскую деятельность. Поскольку вся информация будет автоматически
                пересылаться в налоговые органы через ОФД.
            </div>
            <div class="descr__text text">
                Открытое ведение бизнеса также позволит избежать частых проверок налоговиков. Например, касса 54 фз
                позволяет снизить бумагооборот, а также корректировать работу компании. Фискальный регистратор
                самостоятельно будет выполняет отчеты, что позволит кассирам не вести несколько книг кассового учета.
                Значительно проще происходит и подсчет товарных остатков.
            </div>
        </div>
    </div>
</section>
