<footer class="footer">
    <div class="footer__container container">
        <div class="footer__nav footer-nav">
            <ul class="footer-nav__list list-reset">
                <li class="footer-nav__item">
                    <a href="#">
                        Каталог товаров
                    </a>
                </li>
                <li class="footer-nav__item">
                    <a href="#">
                        О магазине
                    </a>
                </li>
                <li class="footer-nav__item">
                    <a href="#">
                        Доставка и оплата
                    </a>
                </li>
                <li class="footer-nav__item">
                    <a href="#">
                        Наши услуги
                    </a>
                </li>
                <li class="footer-nav__item">
                    <a href="#">
                        Отзывы
                    </a>
                </li>
                <li class="footer-nav__item">
                    <a href="#">
                        Статьи
                    </a>
                </li>
                <li class="footer-nav__item">
                    <a href="#">
                        Контакты
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__contact footer-contact footer-contact--email">
            <a href="mailto:sevkassaru@yandex.ru" class="footer-contact__item">
                <svg class="footer-contact__icon">
                    <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                <h4 class="footer-contact__title">
                    Электронная почта
                </h4>
                <address class="footer-contact__address">
                    sevkassaru@yandex.ru
                </address>
            </a>
        </div>
        <div class="footer__contact footer-contact footer-contact--tel">
            <a href="tel:+79781363606" class="footer-contact__item">
                <svg class="footer-contact__icon">
                    <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                <h4 class="footer-contact__title">
                    Телефон
                </h4>
                <address class="footer-contact__address">
                    +7 (978) 136-36-06
                </address>
            </a>
        </div>
        <div class="footer__contact footer-contact footer-contact--address">
            <a href="#" class="footer-contact__item">
                <svg class="footer-contact__icon">
                    <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                <h4 class="footer-contact__title">
                    Адрес
                </h4>
                <address class="footer-contact__address">
                    г. Севастополь пл. Пирогова, дом 7
                </address>
            </a>
        </div>
        <div class="footer__up arrow-up">
            <a href="#header" aria-label="Отправится наверх" title="Отправится наверх"
                class="btn btn-reset arrow-up__btn">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
                <span>
                    В начало
                </span>
            </a>
        </div>
        <div class="footer__info">
            <a href="" class="footer__logo">
                Sev-Kassa
            </a>
            <p class="footer__descr">
                © 2022 Sevkassa.ru - ключи активации <br> ОФД по выгодным ценам!
            </p>
            <a href="#" class="footer__policy">
                Политика конфиленциальности
            </a>
            <p class="footer__ogrn">
                ОГРН 99999999999999999
            </p>
        </div>
    </div>
</footer>
