<header class="header" id="header">
    <div class="header__container container">
        <a href="" class="header__logo logo">
            Sev-Kassa
        </a>
        <nav class="header__nav nav" data-menu>
            <ul class="nav__list list-reset">
                <li class="nav__item"><a href="#" class="nav__link">О магазине</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Каталог товаров</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Доставка и оплата</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Наши услуги</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Статьи</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            </ul>
        </nav>
        <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span class="burger__line"></span>
        </button>
    </div>
</header>