<section class="helpful-info top-gap-primary">
    <div class="container">
        <h2 class="helpful-info__title title-2 text-center">
            Полезная информация
        </h2>
        <ul class="helpful-info__list list-reset top-gap-secondary">
            <li class="helpful-info__item">
                <article class="article-card">
                    <a href="#" class="article-card__inner">
                        <div class="article-card__img ibg">
                            <picture>
                                <source srcset="./img/article-card-1.webp" type="image/webp">
                                <img loading="lazy" src="./img/article-card-1.jpg" width="327" height="280"
                                    alt="Кому нужна касса с 1 июля 2019года?!">
                            </picture>
                        </div>
                        <div class="article-card__info">
                            <h4 class="article-card__title">
                                Кому нужна касса с 1 июля 2019года?!
                            </h4>
                            <time class="article-card__time" datetime="2022-01-01">01.01.2022</time>
                        </div>
                    </a>
                </article>
            </li>
            <li class="helpful-info__item">
                <article class="article-card">
                    <a href="#" class="article-card__inner">
                        <div class="article-card__img ibg">
                            <picture>
                                <source srcset="./img/article-card-2.webp" type="image/webp">
                                <img loading="lazy" src="./img/article-card-2.jpg" width="327" height="280"
                                    alt="Кому продлили отсрочку до 2021 года?!">
                            </picture>
                        </div>
                        <div class="article-card__info">
                            <h4 class="article-card__title">
                                Кому продлили отсрочку до 2021 года?!
                            </h4>
                            <time class="article-card__time" datetime="2022-01-01">01.01.2022</time>
                        </div>
                    </a>
                </article>
            </li>
            <li class="helpful-info__item">
                <article class="article-card">
                    <a href="#" class="article-card__inner">
                        <div class="article-card__img ibg">
                            <picture>
                                <source srcset="./img/article-card-3.webp" type="image/webp">
                                <img loading="lazy" src="./img/article-card-3.jpg" width="327" height="280"
                                    alt="Налоговые штрафы">
                            </picture>
                        </div>
                        <div class="article-card__info">
                            <h4 class="article-card__title">
                                Налоговые штрафы
                            </h4>
                            <time class="article-card__time" datetime="2022-01-01">01.01.2022</time>
                        </div>
                    </a>
                </article>
            </li>
            <li class="helpful-info__item">
                <article class="article-card">
                    <a href="#" class="article-card__inner">
                        <div class="article-card__img ibg">
                            <picture>
                                <source srcset="./img/article-card-4.webp" type="image/webp">
                                <img loading="lazy" src="./img/article-card-4.jpg" width="327" height="280"
                                    alt="Виды ККТ">
                            </picture>
                        </div>
                        <div class="article-card__info">
                            <h4 class="article-card__title">
                                Виды ККТ
                            </h4>
                            <time class="article-card__time" datetime="2022-01-01">01.01.2022</time>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
        <button type="button" class="btn btn-reset btn-third top-gap-secondary helpful-info__more">Все статьи</button>
    </div>
</section>
