<section class="popular-products top-gap-primary">
    <div class="popular-products__container container">
        <h2 class="popular-products__title title-2 text-center">
            Популярные товары
        </h2>
        <div class="popular-products__inner top-gap-secondary">
            <ul class="popular-products__list list-reset">
            </ul>
            <button type="button" class="btn btn-reset btn-third top-gap-secondary popular-products__more">Показать все</button>
        </div>
    </div>
</section>