<section class="reviews top-gap-secondary">
    <div class="container">
        <h2 class="reviews__title title-2 text-center">отзывы наших покупателей</h2>
        <div class="swiper reviews__list">
            <div class="swiper-wrapper">
                <div class="swiper-slide reviews__item review-item">
                    <div class="review-item__img">
                        <img src="./img/review-1.jpg" alt="Сергей">
                    </div>
                    <p class="review-item__text">
                        Все очень просто и быстро активировала, даже не ожидала такой лёгкости. спасибо большое
                        продавцу! Конечно я рекомендую эту услугу. Все благ вам. Совсем дёшево оплатила офд на 3 года,
                        это просто находка!!!!
                    </p>
                    <div class="review-item__info">
                        <span class="review-item__name">
                            Сергей
                        </span>
                        <div class="review-item__rating rating">
                            <div class="rating__body">
                                <div class="rating__active"></div>
                                <div class="rating__items">
                                    <input type="radio" class="rating__item" value="1" name="rating">
                                    <input type="radio" class="rating__item" value="2" name="rating">
                                    <input type="radio" class="rating__item" value="3" name="rating">
                                    <input type="radio" class="rating__item" value="4" name="rating">
                                    <input type="radio" class="rating__item" value="5" name="rating">
                                </div>
                            </div>
                            <div class="rating__value">4.2</div>
                        </div>
                        <time class="review-item__time" datetime="2021-02-10">10.02.2021</time>
                    </div>
                </div>
                <div class="swiper-slide reviews__item review-item">
                    <div class="review-item__img">
                        <img src="./img/review-1.jpg" alt="Сергей">
                    </div>
                    <p class="review-item__text">
                        Все очень просто и быстро активировала, даже не ожидала такой лёгкости. спасибо большое
                        продавцу! Конечно я рекомендую эту услугу. Все благ вам. Совсем дёшево оплатила офд на 3 года,
                        это просто находка!!!!
                    </p>
                    <div class="review-item__info">
                        <span class="review-item__name">
                            Сергей
                        </span>
                        <div class="review-item__rating rating">
                            <div class="rating__body">
                                <div class="rating__active"></div>
                                <div class="rating__items">
                                    <input type="radio" class="rating__item" value="1" name="rating">
                                    <input type="radio" class="rating__item" value="2" name="rating">
                                    <input type="radio" class="rating__item" value="3" name="rating">
                                    <input type="radio" class="rating__item" value="4" name="rating">
                                    <input type="radio" class="rating__item" value="5" name="rating">
                                </div>
                            </div>
                            <div class="rating__value">4.2</div>
                        </div>
                        <time class="review-item__time" datetime="2021-02-10">10.02.2021</time>
                    </div>
                </div>
                <div class="swiper-slide reviews__item review-item">
                    <div class="review-item__img">
                        <img src="./img/review-1.jpg" alt="Сергей">
                    </div>
                    <p class="review-item__text">
                        Все очень просто и быстро активировала, даже не ожидала такой лёгкости. спасибо большое
                        продавцу! Конечно я рекомендую эту услугу. Все благ вам. Совсем дёшево оплатила офд на 3 года,
                        это просто находка!!!!
                    </p>
                    <div class="review-item__info">
                        <span class="review-item__name">
                            Сергей
                        </span>
                        <div class="review-item__rating rating">
                            <div class="rating__body">
                                <div class="rating__active"></div>
                                <div class="rating__items">
                                    <input type="radio" class="rating__item" value="1" name="rating">
                                    <input type="radio" class="rating__item" value="2" name="rating">
                                    <input type="radio" class="rating__item" value="3" name="rating">
                                    <input type="radio" class="rating__item" value="4" name="rating">
                                    <input type="radio" class="rating__item" value="5" name="rating">
                                </div>
                            </div>
                            <div class="rating__value">4.2</div>
                        </div>
                        <time class="review-item__time" datetime="2021-02-10">10.02.2021</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews__arrows arrows-primary">
            <div class="arrows-primary__arrow arrows-primary__arrow--prev reviews__arrow reviews__arrow--prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-left"></use>
                </svg>
            </div>
            <div class="arrows-primary__arrow arrows-primary__arrow--next reviews__arrow reviews__arrow--next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
            </div>
        </div>
        <button type="button" class="btn btn-reset btn-third reviews__btn">Добавить отзыв</button>
    </div>
</section>
