<div class="top-info">
    <div class="top-info__container container">
        <p class="top-info__info">
            Интернет-магазин
            <br>кодов активации ОФД
        </p>
        <div class="top-info__time working-hours" data-da=".header__nav,768,2">
            <svg class="working-hours__icon">
                <use xlink:href="img/sprite.svg#clock"></use>
            </svg>
            <div class="working-hours__row">
                Пн-Пт: <span>09:00 - 19:00</span>
            </div>
            <div class="working-hours__row">
                Сб-Вс: <span>10:00 - 17:00</span>
            </div>
        </div>
        <div class="top-info__call-back call-back" data-da=".header__nav,768,1">
            <svg class="call-back__icon">
                <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <a class="call-back__tel" href="tel:+79781363606">+7 (978) 136-36-06</a>
            <button type="button" class="btn btn-reset call-back__btn">Заказать обратный звонок</button>
        </div>
    </div>
</div>
