<section class="useful-services top-gap-primary">
    <div class="container">
        <h2 class="useful-services__title title-2 text-center">Чем еще мы можем быть вам полезны?</h2>
        <ul class="useful-services__list list-reset top-gap-secondary">
            <li class="useful-services__item useful-service">
                <svg class="useful-service__icon">
                  <use xlink:href="img/sprite.svg#useful-service-1"></use>
                </svg>
                <h4 class="useful-service__title">
                    Регистрируем в ФНС
                </h4>
                <button type="submit" class="btn btn-reset btn-fourth useful-service__btn">Заказать</button>
            </li>
            <li class="useful-services__item useful-service">
                <svg class="useful-service__icon">
                  <use xlink:href="img/sprite.svg#useful-service-2"></use>
                </svg>
                <h4 class="useful-service__title">
                    Оформляем
                    электронную подпись
                </h4>
                <button type="submit" class="btn btn-reset btn-fourth useful-service__btn">Заказать</button>
            </li>
            <li class="useful-services__item useful-service">
                <svg class="useful-service__icon">
                  <use xlink:href="img/sprite.svg#useful-service-3"></use>
                </svg>
                <h4 class="useful-service__title">
                    Подключаем к ОФД
                </h4>
                <button type="submit" class="btn btn-reset btn-fourth useful-service__btn">Заказать</button>
            </li>
            <li class="useful-services__item useful-service">
                <svg class="useful-service__icon">
                  <use xlink:href="img/sprite.svg#useful-service-4"></use>
                </svg>
                <h4 class="useful-service__title">
                    Предоставляем техническое 
                    сопровождение оборудования
                </h4>
                <button type="submit" class="btn btn-reset btn-fourth useful-service__btn">Заказать</button>
            </li>
            <li class="useful-services__item useful-service">
                <svg class="useful-service__icon">
                  <use xlink:href="img/sprite.svg#useful-service-5"></use>
                </svg>
                <h4 class="useful-service__title">
                    Снимаем кассы с учета
                </h4>
                <button type="submit" class="btn btn-reset btn-fourth useful-service__btn">Заказать</button>
            </li>
            <li class="useful-services__item useful-service">
                <svg class="useful-service__icon">
                  <use xlink:href="img/sprite.svg#useful-service-6"></use>
                </svg>
                <h4 class="useful-service__title">
                    Обучаем в работе с ККТ
                </h4>
                <button type="submit" class="btn btn-reset btn-fourth useful-service__btn">Заказать</button>
            </li>
            <li class="useful-services__item useful-service">
                <svg class="useful-service__icon">
                  <use xlink:href="img/sprite.svg#useful-service-7"></use>
                </svg>
                <h4 class="useful-service__title">
                    Производим замену
                    фискального накопителя
                </h4>
                <button type="submit" class="btn btn-reset btn-fourth useful-service__btn">Заказать</button>
            </li>
            <li class="useful-services__item useful-service">
                <svg class="useful-service__icon">
                  <use xlink:href="img/sprite.svg#useful-service-8"></use>
                </svg>
                <h4 class="useful-service__title">
                    Перерегистрируем ККТ
                </h4>
                <button type="submit" class="btn btn-reset btn-fourth useful-service__btn">Заказать</button>
            </li>
        </ul>
    </div>
</section>
