.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.btn {
    transition: color $transitionSpeed $transitionFunction,
        background-color $transitionSpeed $transitionFunction,
        border $transitionSpeed $transitionFunction;
}
