.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.btn {
    transition: color $transitionSpeed $transitionFunction,
        background-color $transitionSpeed $transitionFunction,
        border $transitionSpeed $transitionFunction;
}

.btn-primary {
    color: #fff;
    background: var(--gradient-aqua);
    font-weight: 500;
    font-size: 20px;
    line-height: math.div(24, 20);
    padding: 13px 101px;
    border-radius: 10px;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--gradient-bg);
        border-radius: inherit;
        opacity: 0;
        z-index: -1;
        transition: opacity $transitionSpeed $transitionFunction;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    @media (max-width:$smallTablet-max) {
        font-size: 16px;
        padding: 10px 41px 11px 40px;
    }
}


.btn-secondary {
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
    font-size: 17px;
    line-height: math.div(21, 17);
    padding: 7px 20px;
    border-radius: 5px;
    transition: background-color $transitionSpeed $transitionFunction;
    &:hover{
        background-color: var(--dark-blue);
    }
    @media (max-width:$tablet-max) {
        padding: 10px 20px 9px;
    }

    @media (max-width:$mobile-max) {
        font-size: 13px;
        padding: 6px 20px;
        border-radius: 3px;
    }
}
