// =============================================================================




.label-validate {

    .just-validate-error-label {
        padding: 0 15px;
        font-style: italic;
    }

    &--orange {
        .just-validate-error-label {
            color: var(--orange) !important;
        }
    }

    &--aqua {
        .just-validate-error-label {
            color: var(--aqua) !important;
        }
    }

    &--absolute {
        position: relative;

        .just-validate-error-label {
            position: absolute;
            bottom: -2px;
            left: 0;
            transform: translateY(100%);
        }
    }
}














// =============================================================================

// button
@import "button";

// =============================================================================

// input
@import "input";

// =============================================================================

// checkbox
// @import "checkbox";

// =============================================================================

// rating
@import "rating";

// =============================================================================

// quantity
@import "quantity";

// =============================================================================

// radio
// @import "radio";

// =============================================================================
