.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: #fff;
    padding: 0;
    border: 1px solid green;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }

    &:focus {
        outline: none;
    }
}

textarea.input-reset {
    resize: none;
}


.input-primary {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--white);
    border: none;
    font-weight: 500;
    @include adaptiveValue("font-size", 20, 17);
    line-height: 150%;
    color: #000;

    &::placeholder {
        color: var(--gray-dark);
    }

    @media (max-width:$smallTablet-max) {
        padding: 12px 15px;
    }
    &--border{
        border: 1px solid var(--gray-dark);
    }
    &--border-mobile {
        @media (max-width:$smallTablet-max) {
            border: 1px solid var(--gray-dark);
        }
    }
}
