// <RATING>
// Снипет (HTML): rating
.rating {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    line-height: 0.75;
    transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
    opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
    cursor: pointer;
}

.rating__body {
    position: relative;
}

.rating__body::before {
    content: "\e900 \e900 \e900 \e900 \e900";
    display: block;
    @extend %ic;
    color: var(--gray-dark);
}

.rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before {
    content: "\e901 \e901 \e901 \e901 \e901";
    position: absolute;
    @extend %ic;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    top: 0;
    left: 0;
    color: #FBC400;
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__value {
    display: none;
}
