.title-1 {
    font-weight: 600;
    font-size: 60px;
    line-height: math.div(73, 60);

    @media (max-width:$tablet-max) {
        font-size: 50px;
    }

    @media (max-width:$mobile-max) {
        font-size: 22px;
    }
}

.title-2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 35px;
    line-height: math.div(42, 35);

    @media (max-width:$tablet-max) {
        font-size: 25px;
    }

    @media (max-width:$mobile-max) {
        font-size: 20px;
    }
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    @media (max-width:$tablet-max) {
        line-height: 140%;
        font-size: 18px;
    }

    @media (max-width:$mobile-max) {
        font-size: 16px;
    }
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-bg {
    position: relative;

    &::after {
        content: '';
        background: linear-gradient(96.18deg, rgba(0, 0, 0, 0.5) 4.45%, rgba(0, 0, 0, 0) 57.93%);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }

    &>* {
        position: relative;
        z-index: 1;
    }

    @media (max-width:$tablet-max) {
        background-position: 70% 0;
    }
}

.text-upp {
    text-transform: uppercase;
}
