// main
$fontFamily: "Inter";
$fontSize: 15;
$minWidth: 320;
$maxWidth: 1920;
$contentWidth: 1400;
$containerOffset: 15;
$containerWidth: calc($contentWidth + ($containerOffset * 2));

// main colors
$bodyColor: #fff; // Цвет body по умолчаниюу
$mainColor: #000; // Цвет шрифта по умолчанию

:root {

    // additional colors
    --white: #fff;
    --blue: #1e293b;
    --gray-light: #e2e8f0;
    --gray-dark: #7d7d7d;
    --orange: #ff8a00;
    --green: #17a400;
    --aqua: #2DD4BF;
    --gradient-aqua: linear-gradient(115.13deg, #208275 0%, #2DD4BF 100%);
    --gradient-aqua-light: linear-gradient(115.13deg, rgba(32, 130, 117, 0.3) 0%, rgba(45, 212, 191, 0.3) 100%);
    --gradient-bg: linear-gradient(106.56deg, #1E293B 1.26%, #266275 101.3%);
}

// gap
$topGapPrimaryMax: 120;
$topGapPrimaryMin: 60;


$topGapSecondaryMax: 70;
$topGapSecondaryMin: 40;


// others vars
$transitionSpeed: 0.3s;
$transitionFunction: ease-in-out;


// break points
$desktop: $containerWidth+px;

$tablet: 1024;
$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet: 768;
$smallTablet-max: 768px;
$smallTablet-min: 769px;

$mobile: 576;
$mobile-max: 576px;
$mobile-min: 577px;

$smallMobile: 480px;
$smallMobile-max: 480px;
$smallMobile-min: 481px;
