// main
$fontFamily: "asd";
$fontSize: 14;
$minWidth: 320;
$maxWidth: 1920;
$contentWidth: 1170;
$containerOffset: 15;
$containerWidth: calc($contentWidth + ($containerOffset * 2));

// main colors
$bodyColor: #fff; // Цвет body по умолчаниюу
$mainColor: #000; // Цвет шрифта по умолчанию

:root {

    // additional colors
    --accent: #000;
    --primary: #fff;
}



// others vars
$transitionSpeed: 0.3s;
$transitionFunction: ease-in-out;



// break points
$desktop: $containerWidth+px;
$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet-max: 768px;
$smallTablet-min: 769px;

$mobile-max: 576px;
$mobile-min: 577px;

$smallMobile-max: 480px;
$smallMobile-min: 481px;
